//custom vairables

$primary: #2E83B7;
$secondary: #E77338;
$success: #289A82;
$danger: #D25425;
$info: #50A6D3;
$light: #f8fbff;


$font-family-sans-serif:      Arial, Helvetica, sans-serif;
$font-family-monospace:       source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;


@import '../../../node_modules/bootstrap/scss/bootstrap.scss'
